body{
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 200px;
}

.div{
    border: 1px solid rgb(165, 165, 8);
    background-color:rgb(165, 165, 8) ;
    width: 300px;
    text-align: center;
}
.btn{
    border-collapse:collapse ;
    outline: none;
    font-weight: bold;
}